In [12]:
import pandas as pd
import numpy as np

### Wrong use of the "in" operator

In [1]:
data = {'col1' : ['one', 'two', 'three']}

In [6]:
df = pd.DataFrame(data, index=list(range(3)))

In [7]:
df

    col1
0    one
1    two
2  three

In [8]:
'one' in df.col1

False

In [9]:
'one' in data

False

In [10]:
1 in df.col1

True

In [11]:
df.col1.isin(['one'])

0     True
1    False
2    False
Name: col1, dtype: bool

### None vs np.nan

In [23]:
df = df.append([1, 2])
df.reset_index(inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [25]:
bool(df.loc[0, 0])

True

In [28]:
df

   index   col1    0
0      0    one  NaN
1      1    two  NaN
2      2  three  NaN
3      0    NaN  1.0
4      1    NaN  2.0
5      0    NaN  1.0
6      1    NaN  2.0

In [26]:
pd.isnull(np.nan)

True

In [27]:
pd.isnull(None)

True